<!DOCTYPE html>
<html>
	<head>
		<title>Mages vs. Templars</title>
		<link rel="stylesheet" href="css/main.css">

	</head>
	<body>

		<h2>Mages vs. Templars</h2>

		<div id = "stripe">
			<button id = "newGame">New Game</button>
		</div>

		<div class = "container">
			<table>
				<tr>
					<td id = "one" class = "mage"></td>
					<td id = "two" class = "middlecolumn"></td>
					<td id = "three" class = "templar"></td>
				</tr>
				<tr>
					<td id = "four" class = "middlerow"></td>
					<td id = "five" class = "middlecolumn middlerow"></td>
					<td id = "six" class = "middlerow"></td>
				</tr>
				<tr>
					<td id = "seven"></td>
					<td id = "eight" class = "middlecolumn"></td>
					<td id = "nine"></td>
				</tr>
			</table>


		<div>
		<script
	  src="https://code.jquery.com/jquery-3.2.1.js"
	  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
	  crossorigin="anonymous"></script>
	 <script src="js/main.js"></script>
	</body>
</html>
