<!DOCTYPE html>
<html>
<head>
	<title>Mages v. Templars</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class = "wrapper">
    <a href="/game" class="btn">Enter Ferelden</a>
  </div>
</body>
</html>
