<!DOCTYPE html>
<html>
<head>
	<title>Mages vs. Templars</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>

	<h2>Welcome to the Kirwall's Circle, <%= session[:player1] %>. </h2>
	<h2>Welcome to the Order, <%= session[:player2] %>. </h2>
	<h2>May The Maker lead you to victory. </h2>

	<a class = "btn" type = "button" href = "/game"> Enter Thedas</a>

	</body>
</html>
