<!DOCTYPE html>
<html>
<head>
	<title>Mages v. Templars</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
<h2>Welcome to the Kirwall's Circle, <%= @player1 %>. </h2>
<h2>Welcome to the Order, <%= @player2 %> </h2>
<h2>May The Maker lead you to victory. </h2>

  <div class = "wrapper">
    <a href="/game" class="btn">Enter Ferelden</a>
  </div>
</body>
</html>

