<!DOCTYPE html>
<html>
<head>
  <title>Mages v. Templars</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

 <h2>This is where the story unfolds.</h2>
  <div class = "intro_text">
     <h3>The blight is quickly spreading throughout Thedas.</h3>
     <h3>The mages, led by Orsino, First Enchanter of the Circle of Magi in Kirkwall and the templars, led by Meredith, Knight-Commander of the Templar Order, are locked in a battle for power.</h3>
     <h3>It is up to you to carry your side to victory.</h3>

    <h3>Heroes, what are your names?</h3>
  </div>

  <form action="/players" class="form-horizontal" method = "post">
    <div class="form-group">
      <div class="col-sm-8">
          <input type="text" class="form-control" name = "player1_name" placeholder = "Mage's name" >
      </div>
      <div class="col-sm-4">
          <input type="text" class="form-control" name = "player2_name" placeholder = "Templar's name" >
      </div>
      <input type = "submit"> 
    </div>
  </form>
</body>
</html>
